<nav class="text-white bg-[url('/images/navBar.png')] flex justify-between text-[20px]">
    <div class="logo flex items-center primary-color ml-9">
        <img src="images/logo.png" alt="">
        <p>Name</p>
    </div>
    <ul class="flex  items-center space-x-20  mr-9">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="cart">cart</a></li>
        <li><a routerLink="shop">Shop</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="favouriteBooks">favourite</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="register">Register</a></li>
    </ul>
</nav>