/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


/* Write your global style here */

:root{
    --primary-color: #CC9600;
    --primary-dark-color: #CA891D;
    --secondary-color: #4B330B;
    --error: #FA0505;
    --font-family: "Bona Nova", serif;
}

body{
    font-family:  var(--font-family);
}

.primary-color{
    color: var(--primary-color);
}
.primary-dark-color{
    color: var(--primary-dark-color);
}
.secondary-color{
    color: var(--secondary-color);
}
.error-color{
    color: var(--error);
}

.bona-nova-regular {
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-weight: 400;
  font-style: italic;
}
